body > footer {
    position: relative;
    margin: auto;
    width: 100%;
    bottom: 0;
    height: 4vh;
    background-color: #072227;
}

body > footer > h4 {
    text-align: center;
    font-family: "Akshar", sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 15px;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    margin: auto;
}