@media all and (min-width: 1441px) {
  body > main > div:nth-child(9) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    margin-top: 100px;
  }

  body > main > div:nth-child(9) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-color: aliceblue;
  }

  body > main > div:nth-child(9) > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 10px 10px;
    margin: auto;
    background-color: aquamarine;
  }

  body > main > div:nth-child(9) > div > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 850px;
    height: 550px;
    border-radius: 5px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
    text-align: center;
    background-color: antiquewhite;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) {
    width: 550px;
    background-color: #343a40;
    border-image: linear-gradient(to right, #35858b, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to right, #35858b, rgba(0, 0, 0, 0)) 1 15%;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > h4 {
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 11px;
    color: white;
    letter-spacing: 2px;
    width: 100%;
    margin: 20px 0 0 0;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > dfn > h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 55px;
    color: #35858b;
    letter-spacing: 2px;
    font-style: normal;
    width: 500px;
    margin: -90px 0 0 0;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav {
    margin: -80px 0 20px 0;
    padding: 0;
    min-height: max-content;
    transition: 1s;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: 1s;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav > ul > li {
    text-align: left;
    transition: 1s linear;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav > ul > li:hover {
    scale: 1.05;
    text-align: center;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav > ul > li > i {
    font-size: 30px;
    margin: 50px 10px 0 0;
  }

  body > main > div:nth-child(9) > div > div > div:nth-child(1) > nav > ul > li > a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    letter-spacing: 0;
    text-decoration: none;
  }
}
