@media all and (max-width: 1px) {
  body > main {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
  }

  /* ! need to update */

  body > main > div:nth-child(6) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #35858b;
  }

  body > main > div:nth-child(6) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ababab;
  }

  body > main > div:nth-child(6) > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
    padding: 10px 10px;
    margin: auto;
    background-color: #4fbdba;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(1) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 490px;
    border-radius: 5px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
    background-color: antiquewhite;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(2) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 490px;
    border-radius: 5px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
    background-color: antiquewhite;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(3) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 490px;
    border-radius: 5px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
    background-color: antiquewhite;
  }

  body > main > div:nth-child(6) > div > div > div {
    text-align: center;
  }

  body > main > div:nth-child(6) > div > div > div > img {
    width: 40%;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0 0 0;
  }

  body > main > div:nth-child(6) > div > div > div > h3 {
    width: 100%;
    background-color: #ababab;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 2px;
    color: #35858b;
    margin: -10px 0 0 0;
  }

  body > main > div:nth-child(6) > div > div > div > h4 {
    width: 90%;
    background-color: #ababab;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color: #4e4e50;
    margin: 0 0 40px 0;
    line-height: 1.5;
  }
}
