body > main > section:nth-child(2) {
    position: relative;
    height: 90vh;
    display: flex;
    background-color: #F8FEFF;
    margin-top: 100px;
}

body > main > section:nth-child(2) > section {
}

body > main > section:nth-child(2) > section:nth-child(1) {
    position: absolute;
    left: 0;
    width: 50%;
    height: 80vh;
}

body > main > section:nth-child(2) > section:nth-child(2) {
    position: absolute;
    right: 0;
    width: 50%;
    height: 80vh;
}

body > main > section:nth-child(2) > section:nth-child(1) > article {
    width: max-content;
    height: max-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 50px;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h5 {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: bolder;
    font-size: 12px;
    color: #4B4954;
    text-align: right;
    letter-spacing: 2px;
    position: absolute;
    top: 3%;
    right: 2%;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h1 {
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    font-size: 61px;
    color: #35858B;
    letter-spacing: -3.5px;
    text-align: right;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h3:nth-child(3) {
    font-family: 'Akshar Unicode', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #4B4954;
    text-align: right;
    position: absolute;
    right: 0;
    top: 21%;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(4) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: #4B4954;
    text-align: right;
    padding-top: 20px;

}

body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(5) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: #4B4954;
    text-align: right;
    padding-top: 30px;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h3:nth-child(6) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #4B4954;
    text-align: right;
    position: absolute;
    right: 0;
    top: 75%;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(7) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: lighter;
    font-size: 17px;
    color: #4B4954;
    text-align: right;
    margin-top: 70px;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h4:nth-child(8) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #4B4954;
    text-align: right;
    position: absolute;
    top: 95%;
    right: 0;
}

body > main > section:nth-child(2) > section:nth-child(1) > article > h4:nth-child(9) {
    font-family: "Akshar Unicode",sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: #4B4954;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0;
}

body > main > section:nth-child(2) > section:nth-child(1) > nav > ul {
    position: absolute;
    bottom: 10px;
    right: -30px;
}

body > main > section:nth-child(2) > section:nth-child(1) > nav > ul > li {
    display: inline-block;
}

body > main > section:nth-child(2) > section:nth-child(1) > nav > ul > li > a > img {
    height: 60px;
}


body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(1) {
    width: 20%;
    position: absolute;
    top: 58%;
    z-index: 2;
}

body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(2) {
    width: 20%;
    position: absolute;
    top: 25%;
    right: 22%;
    z-index: 2;
}

body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(3) {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 35%;
    z-index: 2;
}

body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(4) {
    width: 60%;
    height: 95%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 90px;
    z-index: 1;
}

body > main > section:nth-child(2) > section:nth-child(2) > h5 {
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    font-size: 23px;
    color: #35858B;
    z-index: 3;
}

body > main > section:nth-child(2) > section:nth-child(2) > h4 {
    font-family: "Akshar",sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: #4B4954;
    letter-spacing: -0.5px;
    z-index: 3;
}

body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(5) {
    position: absolute;
    top: 58%;
    left: 8%;
}

body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(6) {
    position: absolute;
    top: 25%;
    right: 30%;
}

body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(7) {
    position: absolute;
    bottom: 5%;
    right: 43%;
}

body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(8) {
    position: absolute;
    top: 66%;
    left: 5%;
}

body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(9) {
    position: absolute;
    top: 33%;
    right: 26%;
}

body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(10) {
    position: absolute;
    bottom: 4%;
    right: 39%;
}