@media all and (max-width: 375px) and (min-width: 321px) {
  body > main > div:nth-child(8) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 100px;
  }

  body > main > div:nth-child(8) > div {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }

  body > main > div:nth-child(8) > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    padding: 50px 10px;
    margin: auto;
  }

  body > main > div:nth-child(8) > div > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 290px;
    border-radius: 5px;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
    transition: 0.5s;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
  }

  body > main > div:nth-child(8) > div > div > div:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    scale: 1.06;
    cursor: 1;
  }

  body > main > div:nth-child(8) > div > div > div:nth-child(1) {
    width: 95%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
  }

  body > main > div:nth-child(8) > div > div > div:nth-child(1):hover {
    scale: 1;
  }

  body > main > div:nth-child(8) > div > div > div:nth-child(1) > h4 {
    width: 100%;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 7px;
    letter-spacing: 2px;
    color: whitesmoke;
    margin: 0 0 0 0;
  }

  body > main > div:nth-child(8) > div > div > div:nth-child(1) > dfn > h1 {
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: rgb(53, 133, 139);
    letter-spacing: 2px;
    font-style: normal;
    min-width: 300px;
    margin: -50px 0 0 0;
  }

  body > main > div:nth-child(8) > div > div > div:nth-child(1) > p {
    font-family: "Akshar Unicode", sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: white;
    width: 90%;
    margin: -40px 0 0 0;
  }

  body > main > div:nth-child(8) > div > div > div > div > img {
    width: 100%;
    border-radius: 5px;
  }

  body > main > div:nth-child(8) > div > div > div > div > h4 {
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 2px;
    color: #35858b;
    position: relative;
  }
}
