@media all and (max-width: 425px) and (min-width: 376px) {
  body > main > div:nth-child(4) {
    width: 100%;
    margin-top: 120px;
    height: max-content;
    position: relative;
  }

  body > main > div:nth-child(4) > div:nth-child(1) {
    width: 100%;
    height: max-content;
    background-color: #f8feff;
  }

  body > main > div:nth-child(4) > div:nth-child(1) > dfn > h4 {
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 7px;
    color: #4b4954;
    letter-spacing: 2px;
    width: max-content;
    font-style: normal;
    margin: auto auto auto auto;
  }

  body > main > div:nth-child(4) > div:nth-child(1) > h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #35858b;
    letter-spacing: 2px;
    width: max-content;
    text-align: center;
    margin: -5px auto 30px auto;
  }

  body > main > div:nth-child(4) > div:nth-child(1) > p {
    font-family: "Akshar Unicode", sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: #4b4954;
    text-align: center;
    width: 80%;
    justify-content: center;
    margin: auto auto auto auto;
  }

  body > main > div:nth-child(4) > div:nth-child(2) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body > main > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: max-content + 100px;
    width: 90%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }

  body > main > div:nth-child(4) > div:nth-child(2) > div:nth-child(1) > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 10px;
    margin: auto;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div:hover {
    height: 400px;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(1) {
    position: absolute;
    width: 350px;
    height: 220px;
    background-color: #072227;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition: 0.9s;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div:hover
    > div:nth-child(1) {
    top: -100px;
    scale: 0.9;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(1)
    > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2) {
    position: absolute;
    top: 225px;
    width: 100%;
    padding: 0 30px;
    height: 43px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div:hover
    > div:nth-child(2) {
    height: 250px;
    top: 150px;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #4b4954;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > p {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 15px;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > button {
    width: 100px;
    height: 35px;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 3px;
    border: 2px solid #35858b;
    background-color: #35858b;
    color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 10px -5px #a6a6a6;
    cursor: pointer;
    transition: 0.5s;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > button:hover {
    border: 2px solid #35858b;
    background-color: white;
    color: #35858b;
    box-shadow: 5px 5px 10px -10px #a6a6a6;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > button
    > a {
    text-decoration: none;
    color: white;
  }

  body
    > main
    > div:nth-child(4)
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div:nth-child(2)
    > button:hover
    a {
    color: #007294;
  }
}
