@media all and (max-width: 425px) and (min-width: 376px) {
  body > main > div:nth-child(6) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: -60px;
  }

  body > main > div:nth-child(6) > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
  }

  body > main > div:nth-child(6) > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 30px;
    padding: 20px 0px;
    margin: auto;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(1) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 340px;
    border-radius: 5px;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(2) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 340px;
    border-radius: 5px;
  }

  body > main > div:nth-child(6) > div > div > div:nth-child(3) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 340px;
    border-radius: 5px;
  }

  body > main > div:nth-child(6) > div > div > div {
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    background-position: center;
    background-size: cover;
  }

  body > main > div:nth-child(6) > div > div > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  }

  body > main > div:nth-child(6) > div > div > div:hover > h4 {
    color: white;
  }

  body > main > div:nth-child(6) > div > div > div > img {
    width: 25%;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px 0 20px 0;
  }

  body > main > div:nth-child(6) > div > div > div > h3 {
    width: 100%;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 2px;
    color: #35858b;
    margin: 0px 0 0 0;
  }

  body > main > div:nth-child(6) > div > div > div > h4 {
    width: 80%;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: lighter;
    font-size: 13px;
    color: #4e4e50;
    margin: 10px 0 30px 0;
    line-height: 1.5;
  }
}
