@media all and (max-width: 320px) {
    body > main > section:nth-child(4) {
        width: 100%;
        height: max-content;
        position: relative;
        margin-top: 50px;
    }

    body > main > section:nth-child(4) > section:nth-child(1) {
        width: 100%;
        height: 150px;
        padding-bottom: 10px;
        background-color: whitesmoke;
    }

    body > main > section:nth-child(4) > section:nth-child(1) > dfn > h4 {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 7px;
        color: #4B4954;
        letter-spacing: 2px;
        position: relative;
        top: 12px;
        left: 10px;
        right: 0;
        margin: auto;
        padding-bottom: 8px;
        width: max-content;
        font-style: normal;
    }

    body > main > section:nth-child(4) > section:nth-child(1) > h1 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 31px;
        color: #35858B;
        letter-spacing: -1px;
        width: max-content;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    body > main > section:nth-child(4) > section:nth-child(1) > p {
        font-family: 'Akshar Unicode', sans-serif;
        font-weight: lighter;
        font-size: 12px;
        width: 80%;
        color: #4B4954;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    body > main > section:nth-child(4) > section:nth-child(2) {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
(4) > section:nth-child(2) > section:nth-child(1) {
        display: flex;
        justify-items: center;
        align-items: center;
        min-height: max-content;
        width: 85%;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
    }
(4) > section:nth-child(2) > section:nth-child(1) > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 100px 0;
        margin: auto;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 280px;
        height: 300px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 35px 80px rgba(0,0,0,0.15);
        transition: 0.5s;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div:hover {
        height: 400px;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(1) {
        position: absolute;
        width: 280px;
        height: 220px;
        background-color: #072227;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        transition: 0.9s;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div:hover > div:nth-child(1) {
        top: -100px;
        scale: 0.9;
        box-shadow: 0 15px 45px rgba(0,0,0,0.2);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(1) > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) {
        position: absolute;
        top: 225px;
        width: 81.2%;
        padding: 0 30px;
        height: 45px;
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div:hover > div:nth-child(2) {
        height: 290px;
        top: 110px;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > h2 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 23px;
        color: #4B4954;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > p {
        font-family: "Roboto",sans-serif;
        font-weight: lighter;
        font-size: 15px;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > button {
        width: 100px;
        height: 35px;
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 15px;
        letter-spacing: 3px;
        border: 2px solid #35858B;
        background-color: #35858B;
        color: white;
        border-radius: 3px;
        box-shadow: 5px 5px 10px -5px #A6A6A6;
        cursor: pointer;
        transition: 0.5s;
        position: relative;
        bottom: 15px;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > button:hover {
        border: 2px solid #35858B;
        background-color: white;
        color: #35858B;
        box-shadow: 5px 5px 10px -10px #A6A6A6;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > button > a {
        text-decoration: none;
        color: white;
    }

    body > main > section:nth-child(4) > section:nth-child(2) > section:nth-child(1) > div > div > div:nth-child(2) > button:hover a {
        color: #007294;
    }
}