/*
@media all and (max-width: 768px) {
    body > main > section:nth-child(2) {
        position: relative;
        height: 490px;
        display: flex;
        background-color: #F8FEFF;
        margin-top: 50px;
    }

    body > main > section:nth-child(2) > section {
    }

    body > main > section:nth-child(2) > section:nth-child(1) {
        position: absolute;
        left: 0;
        width: 49.6%;
        height: 480px;
    }

    body > main > section:nth-child(2) > section:nth-child(2) {
        position: absolute;
        right: 0;
        width: 50%;
        height: 480px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article {
        width: 330px;
        height: 310px;
        position: relative;
        top: 80px;
        right: 0;
        margin: auto 0 auto auto;
        justify-content: center;
        text-align: center;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > h5 {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 7px;
        color: #4B4954;
        text-align: right;
        letter-spacing: 1px;
        position: absolute;
        top: 0;
        margin: 0;
        right: 0;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > dfn > h1 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 31px;
        color: #35858B;
        letter-spacing: -1px;
        text-align: right;
        font-style: normal;
        position: absolute;
        top: 5px;
        right: 0;
        margin: auto;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > h3:nth-child(3) {
        font-family: 'Akshar Unicode', sans-serif;
        font-weight: bolder;
        font-size: 15px;
        color: #4B4954;
        text-align: right;
        position: absolute;
        right: 0;
        top: 30px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(4) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: lighter;
        font-size: 11px;
        color: #4B4954;
        text-align: right;
        width: 100%;
        height: max-content;
        position: absolute;
        top: 40px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(5) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: lighter;
        font-size: 11px;
        color: #4B4954;
        text-align: right;
        padding-top: 10px;
        width: 100%;
        height: max-content;
        position: absolute;
        top: 140px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > h3:nth-child(6) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 15px;
        color: #4B4954;
        text-align: right;
        position: absolute;
        right: 0;
        top: 190px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > p:nth-child(7) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: lighter;
        font-size: 11px;
        color: #4B4954;
        text-align: right;
        position: absolute;
        top: 170px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > h4:nth-child(8) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 12px;
        color: #4B4954;
        letter-spacing: 0.1vw;
        text-align: right;
        position: absolute;
        top: 240px;
        right: 0;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > article > h4:nth-child(9) {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bold;
        letter-spacing: 0;
        font-size: 12px;
        color: #4B4954;
        text-align: right;
        position: absolute;
        top: 260px;
        right: 0;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > nav {
        position: absolute;
        width: 100%;
        bottom: 10%;
        right: -90px;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > nav > ul {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > nav > ul > li {
        display: inline-block;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > nav > ul > li > a > img {
        height: 4.5vw;
        transition: 0.3s;
    }

    body > main > section:nth-child(2) > section:nth-child(1) > nav > ul > li > a > img:hover {
        transform: scale(1.5);
    }


    body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(1) {
        width: 22%;
        position: absolute;
        top: 42%;
        left: 1%;
        z-index: 2;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(2) {
        width: 22%;
        position: absolute;
        top: 22%;
        right: 12%;
        z-index: 2;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(3) {
        width: 22%;
        position: absolute;
        bottom: 24%;
        right: 30%;
        z-index: 2;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > img:nth-child(4) {
        width: 65%;
        height: 65%;
        position: relative;
        margin: auto;
        top: 40px;
        left: 40px;
        z-index: 1;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h5 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 1.5vw;
        color: #35858B;
        z-index: 3;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h4 {
        font-family: "Akshar",sans-serif;
        font-weight: bolder;
        font-size: 0.89vw;
        color: #4B4954;
        letter-spacing: -0.5px;
        z-index: 3;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(5) {
        position: absolute;
        top: 42%;
        left: 11%;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(6) {
        position: absolute;
        top: 22%;
        right: 19%;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h5:nth-child(7) {
        position: absolute;
        bottom: 26.5%;
        right: 37%;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(8) {
        position: absolute;
        top: 47%;
        left: 5.9%;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(9) {
        position: absolute;
        top: 27%;
        right: 15.5%;
    }

    body > main > section:nth-child(2) > section:nth-child(2) > h4:nth-child(10) {
        position: absolute;
        bottom: 26%;
        right: 33%;
    }
}*/
