@media all and (max-width: 375px) {
    body > header {
        position: sticky;
        top: 0;
        z-index: 4;
        background-color: white;
        height: 50px;
        width: 100%;
        transition: 0.3s;
        background-color: whitesmoke;
    }

    body > header:hover {
        box-shadow: 0 35px 80px rgba(0,0,0,0.05);
    }

    body > header > img {
        position: absolute;
        top: 33.1%;
        left: 15px;
        width: 50px;
        height: 15px;
    }

    body > header > nav > ul {
        position: relative;
        margin: auto;
        right: 82%;
        top: 2.5%;
    }

    body > header > nav > ul > li {
        position: relative;
        top: 13px;
        font-family: "Roboto Light",sans-serif;
        font-weight: bold;
        font-size: 8px;
        left: 385px;
        margin-left: 2px;
        display: inline-block;
    }

    body > header > nav > ul > li > a {
        text-decoration: none;
        color: black;
    }

    body > header > nav > ul > li > a:hover {
        color: #35858B;
    }

    body > header > nav > ul > li:nth-child(1) > a:nth-child(1) {
        padding: 6px;
        background-color: #4FBDBA;
        border-radius: 2px;
        color: white;
        box-shadow: 2px 2px 8px #ABABAB;
    }
}