@media all and (max-width: 375px) {
    body > main > section:nth-child(8) {
        width: 100%;
        height: 500px;
        position: relative;
        background-color: navajowhite;
    }

    body > main > section:nth-child(8) > section {
        display: flex;
        width: 90%;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) {
        width: 280px;
        height: 310px;
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background-color: #35858B;
        box-shadow: 5px 5px 15px -5px #A6A6A6;
        border-radius: 3px;
        z-index: 2;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        width: 600px;
        height: 360px;
        margin: auto auto auto -30%;
        background-color: white;
        box-shadow: 5px 5px 20px 0px #A6A6A6;
        border-radius: 5px;
        z-index: 1;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > h4 {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 7px;
        color: white;
        letter-spacing: 2px;
        position: relative;
        left: 75px;
        top: 22px;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > dfn > h1 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 31px;
        color: white;
        letter-spacing: -1px;
        position: relative;
        text-align: center;
        font-style: normal;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav > ul > li {
        list-style-type: none;
        position: relative;
        top: 15px;
        margin: 5px;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav > ul > li > a {
        text-decoration: none;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(3) > ul > li > a > img {
        width: 30px;
        transition: 0.3s;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(3) > ul > li > a > img:hover {
        transform: scale(1.2);
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(3) > ul > li:nth-child(4) > a > img {
        width: 25px;
        margin-top: 10px;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(4) {
        position: absolute;
        top: 80px;
        left: 35px;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(4) > ul > li {
        margin-bottom: 25px;
        transition: 0.5s;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(4) > ul > li:hover {
        transform: scale(0.9);
    }

    body > main > section:nth-child(8) > section >  section:nth-child(1) > nav:nth-child(4) > ul > li > a {
        font-family: "Akshar Unicode",sans-serif;
        font-weight: bolder;
        font-size: 12px;
        color: white;
    }


    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 5px;
        margin: auto auto auto 19vw;
        height: 350px;
        width: 360px;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > h3 {
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 20px;
        color: #35858B;
        letter-spacing: 0;
        position: relative;
        top: 0;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > label {
        position: relative;
        left: 0;
        top: -8px;
        margin: 0;
        font-family: "Roboto",sans-serif;
        font-weight: bolder;
        font-size: 11px;
        color: #4B4954;

    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > input {
        position: absolute;
        left: 80px;
        margin-top: -10px;
        width: 280px;
        height: 30px;
        font-family: "Roboto",sans-serif;
        font-weight: lighter;
        font-size: 10px;
        color: #4B4954;
        border: 2px solid #A6A6A6;
        border-radius: 3px;
        outline: none;
        transition: 0.5s;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > input:focus {
        border: 2px solid #4FBDBA;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > button {
        position: relative;
        left: 280px;
        bottom: 20px;
        width: 70px;
        height: 30px;
        font-family: 'Akshar Unicode', sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: white;
        background-color: #35858B;
        cursor: pointer;
        box-shadow: 5px 5px 10px -5px #A6A6A6;
        border-radius: 3px;
        transition: 0.5s;
        border: 2px solid #35858B;
    }

    body > main > section:nth-child(8) > section >  section:nth-child(2) > fieldset > button:hover {
        box-shadow: 5px 5px 10px -10px #A6A6A6;
        color: #35858B;
        background-color: white;
        border: 2px solid #35858B;
    }
}