body > footer {
    position: relative;
    background-color: #343a40;
}
body > footer > div {
    position: absolute;
    width: 100%;
    background-color: #343a40;
    height: 60px;
}

body > footer > div > h5 {
    color: white;
    font-size: 15px;
    font-family: "Akshar Unicode", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: max-content;
}